<h1>MAKE A NEW MEETUP</h1>

<form class="new_meetup" action="" method="post">
  <label for="Meetup Name">Meetup Name:</label></br>
  <input type="text" name="Name" placeholder="ex: 'Power lunch with Jar Jar Binks'" value="<%= @name%>"></br></br>
  <label for="Meetup Location">Meetup Location:</label></br>
  <input type="text" name="Location" placeholder="ex: 'Protoss homeworld'" value=""></br></br>
  <label for="Meetup Description">Meetup Description:</label></br>
  <input type="text" name="Description" placeholder="ex: 'Prepare for battle'" value=""></br></br>
  <input type="submit" onClick="/" value="Create">
</form>
